body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#head {
    width: 100%;
    border: 1px solid gray;
    box-shadow: 0 1px 5px #999;
}

#head h1 {
    margin: 5px 20px;
    font-size: 20px;
    color: gray;
}

#footer {
    margin-top: 120px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
}

#footer a {
    color: gray;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
